extends layout

block content
  ul.thumb-list
    each peace, i in furniture
      li
        a(href='/furniture/' + peace.url)
          span= peace.name
          img(src='/images/thumbs/' + peace.name.replace(/\s+/g, '-') + '-thmb.jpg').thumb
