body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}
.login {
  top: 5px;
  left: 5px;
  position: absolute;
}
a {
  color: #00b7ff;
}
.temporary {
  color: #808080;
  margin: auto;
  height: 120px;
  text-align: center;
}
.temporary h1 {
  font-weight: 200;
}
.temporary p {
  text-transform: capitalize;
}
.new-form li {
  list-style: none;
}
.new-form li label {
  display: block;
}
#slider {
  margin: auto;
  overflow: hidden;
}
#slider ul {
  display: block;
  padding-left: 0px;
}
#slider ul li {
  list-style: none;
  display: inline-block;
}
