transition(property, time)
  -webkit-transition property time ease-in-out
  -moz-transition property time ease-in-out
  -o-transition property time ease-in-out
  transition property time ease-in-out

body
  margin 0px 15px 80px
  font-family 'Roboto', sans-serif

.header
  height 76px
  overflow auto
  display block
  margin-bottom 35px
  border-bottom 1px solid #E0E0E0

.login
  top 5px
  right 5px
  position absolute

  a
    color #00B7FF
    margin 3px 5px

ul
  padding-left 0px

  li
    list-style none

a
  text-decoration none

p
  font-weight 200
  white-space pre-line

#logo
  float left
  display block
  font-size 33px
  margin-top 25px
  font-weight 100

.wrap
  margin auto
  max-width 880px

#menu
  float right
  display block
  margin-top 34px
  background-color #fff

  ul
    margin 0px

    li
      padding 10px
      display inline-block

      &:last-of-type
        padding-right 0px

      a
        transition(color, 0.2s)
        color #4B5364

        &:hover
          transition(color, 0.3s)
          color #76BDFF

.thumb-list
  ul
    margin-top 0px

  li
    min-width 250px
    min-height 100px
    margin 10px 20px
    position relative
    display inline-block
    border 1px solid #E4E4E4

    a
      color #000
      height 100px
      display block

    span
      top 0
      left 0
      right 0
      bottom 0
      opacity 0.5
      margin auto
      font-size 21px
      font-weight 200
      line-height 100px
      text-align center
      position absolute
      transition(opacity, 0.3s)

    &:hover
      span
        opacity 1
        transition(opacity, 0.2s)

@media screen and (max-width 910px)
  .thumb-list
    li
      width 45%
      margin 1% 2%

@media screen and (max-width 620px)
  .header
    height 100px

  #logo
    float none
    margin-top 15px
    text-align center

  #menu
    float none
    width 237px
    margin 0 auto

@media screen and (max-width 585px)
  .thumb-list
    li
      width 95%


@media screen and (max-width 380px)
  #logo
    font-size 8.4vw
