transition(property, time)
  -webkit-transition property time ease-in-out
  -moz-transition property time ease-in-out
  -o-transition property time ease-in-out
  transition property time ease-in-out

body
  margin-top 0px
  font-family 'Roboto', sans-serif

  .header
    overflow auto
    display block
    margin-bottom 35px
    border-bottom 1px solid #E0E0E0

.login
  top 5px
  right 5px
  position absolute

  a
    color #00B7FF
    margin 3px 5px

ul
  padding-left 0px

  li
    list-style none

a
  text-decoration none

p
  font-weight 200
  white-space pre-line

#logo
  float left
  display block
  font-size 36px
  margin-top 20px
  font-weight 100

.wrap
  margin auto
  width 880px

#menu
  float right
  display block
  margin-top 34px
  background-color #fff

  ul
    margin 0px

    li
      padding 10px
      display inline-block

      &:last-of-type
        padding-right 0px

      a
        transition(color, 0.2s)
        color #4B5364

        &:hover
          transition(color, 0.3s)
          color #76BDFF

