@import 'base'

.thumb-list
  li
    a
      height 150px

      span
        opacity 0
        line-height 150px

    .thumb
      margin auto
      display block
      transition(opacity, 0.3s)

    &:hover
      .thumb
        opacity 0.2
        transition(opacity, 0.2s)

      span
        opacity 1
        transition(opacity, 0.2s)
