@import 'base'

.new-form
  li
    label
      display block

#slider
  margin auto
  overflow hidden

  ul
    display block

    li
      display inline-block

      img
        width 100%
        max-width 880px
