body
  padding 50px
  font-family 'Roboto', sans-serif

.login
  top 5px
  left 5px
  position absolute

a
  color #00B7FF

.temporary
  color gray
  margin auto
  height 120px
  text-align center

  h1
    font-weight 200

  p
    text-transform capitalize

.new-form
  li
    list-style none

    label
      display block

#slider
  margin auto
  overflow hidden

  ul
    display block
    padding-left 0px

    li
      list-style none
      display inline-block
